<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/site.css">
    </head>
    <body>
        <h1>{{ .Login }}</h1>
        <p id=errorDisplay>{{ .Errors }}</p>
        <form action="/api/security/login" method="post" id="signupForm">
            <input type="text" id="username" name="username" placeholder="{{ .UsernamePrompt }}">
            <input type="password" id="password" name="password" placeholder="{{ .PasswordPrompt }}">
            <input type="hidden" id="from" name="from" value="{{ .ReturnURL }}">
            <button type="submit">Submit</button>
        </form>
        <p>Don't have an account? <a href="/signup.html?from={{ .ReturnURL }}">Sign Up</a> instead.</p>
        <script src="/scripts/login.js"></script>
    </body>
</html>
