<!DOCTYPE html>
<html lang="{{ LangCode }}">
	<head>
		<title>{{ Global.BlogTitle }}: {{ PageTitle }}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style/site.css">
		<link rel="stylesheet" href="/style/user.css">
		<meta name="robots" content="noindex, follow">
		{{ LangTags }}
	</head>
	<body>
		{{ TopBar }}
		<p>{{ SelectPFPPrompt }}</p>
		<form action="/api/user/changePFP?lang={{ LangCode }}" method="post" enctype="multipart/form-data">
			<input type="file" id="newPFP" name="newPFP" accept="image/*">
			<button type="submit">{{ UpdatePFPPrompt }}</button>
		</form>
		<p>{{ LogoutPrompt }}</p>
		<form action="/api/user/logout?lang={{ LangCode }}" method="post" id="logoutForm">
			<button type="submit">{{ LogoutPrompt }}</button>
		</form>
		<form action="/api/user/logoutAll?lang={{ LangCode }}" method="post" id="logoutForm">
			<button type="submit">{{ LogoutAllPrompt }}</button>
		</form>
        <h2>{{ DangerZone }}</h2>
		<p>{{ ChangePassPrompt }}</p>
		<form action="/api/user/changePassword?lang={{ LangCode }}" method="post" id="passwordForm">
			<input type="password" id="oldPass" name="oldPass" placeholder="{{ OldPassPrompt }}">
			<input type="password" id="newPass" name="newPass" placeholder="{{ NewPassPrompt }}">
			<input type="password" id="confirmPass" name="confirmPass" placeholder="{{ ConfirmPassPrompt }}">
			<button type="submit">{{ UpdatePassPrompt }}</button>
		</form>
		<p>{{ DeleteAccountPrompt }}</p>
		<form action="/api/user/deleteAccount?lang={{ LangCode }}" method="post" id="logoutForm">
			<button type="submit">{{ DeleteAccountPrompt }}</button>
		</form>

		{{ BottomBar }}
	</body>
</html>
