<!DOCTYPE html>
<html lang="{{ LangCode }}">
	<head>
        <title>{{ Global.BlogTitle }}: {{ PageTitle }}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style/site.css">
		<link rel="stylesheet" href="/style/dashboard.css">
		<meta name="robots" content="noindex, follow">
		{{ LangTags }}
	</head>
	<body>
        {{ TopBar }}
		<h1>{{ PageTitle }}</h1>
		{{ Dashboard }}
		<form action="/api/creator/newPage?lang={{ LangCode }}" method="post" id="newpageForm">
			{{ PageTypeDropdown }}
			<input type="number" step="1" id="minPermissions" name="minPermissions" placeholder="{{ PermissionsPrompt }}">
			<button type="submit">{{ SubmitPrompt }}</button>
		</form>
	</body>
</html>
