.sideBySide {
  display: flex;
  justify-content: space-between;
}

.directEditor {
  flex: 1;
  margin: 0.3rem;
  min-width: 0;
}

.iframeHold,
iframe {
  width: 100%;
  height: 30rem;
}

textarea {
  width: 100%;
  field-sizing: content;
  box-sizing: border-box;
  padding: 0.3rem;
  resize: none;
}
